doctype 5
html
    head
        title About
        link(rel="shortcut icon", href="../media/images/favicon.ico")
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/myNavbar.css')
        link(rel='stylesheet', href='/stylesheets/about.css')
    body
        .container
            .row
                include myNavbar