doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title About
        link(rel="shortcut icon", href="../media/images/favicon.ico")
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/myNavbar.css')
        link(rel='stylesheet', href='/stylesheets/about.css')
    body
        .container
            .row
                include myNavbar
            .row
                .col-sm-12
                    h1 About Me
                    hr
                    p.
                        My name is Raphael Serota.  I'm a full-stack Javascript developer based in Boulder, Colorado.  I was previously a Matlab developer for a neuroscience lab before I decided to get into web development.  I also love music, and I try to combine my passions for minds and music with web development whenever I can.  
                    hr
                    h2 Contact
                    p.
                        Feel free to contact me at raphael.serota@gmail.com.  I am currently accepting new projects.  You can also rummage through my <a href="https://github.com/rserota">GitHub repos</a>, if you like.  
