doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')

        link(rel='stylesheet', href='../stylesheets/audiotest.css')
        link(rel='stylesheet', href='/stylesheets/myNavbar.css')


        title Audio Test
    body
        //- h1 How about that Audio, eh?
        //- .playbutton.btn.btn-info C4
        //- .playbutton.btn.btn-info G4
        //- .playbutton.btn.btn-info B4
        //- .phone.btn.btn-warning phone
        //- hr
        //- .playbutton2.btn.btn-info C4
        //- .playbutton2.btn.btn-info G4
        //- .playbutton2.btn.btn-info B4
        //- .phone2.btn.btn-warning phone
        //- hr
        //- .playbutton3.btn.btn-info C4
        //- .playbutton3.btn.btn-info G4
        //- .playbutton3.btn.btn-info B4      
        //- .phone3.btn.btn-warning phone
        //- hr

        .container
            .row
                include myNavbar
            .row
                .wadmaker.col-xs-6
                    .row
                        .createbutton.col-xs-12 
                            .btn.btn-primary.btn-lg.pull-right.disabled#wadmakerbutton Create <span class="glyphicon glyphicon-plus-sign"</span>
                            .label Create a Sound
                            input#wadname(type="text",placeholder="Name your new sound")
                        
                    hr
                    .row
                        .parameters.col-xs-12.col-sm-12
                            .row
                                .dropdown.col-xs-6.col-md-3.text-center
                                    .row
                                        .col-xs-12
                                            .label Source
                                        .col-xs-12
                                            #source.btn.btn-info.relabel(title="The shape of the sound wave.", rel="tooltip", data-placement="top", role="button", data-toggle="dropdown") Sine
                                            ul.dropdown-menu(role="menu")
                                                li.active <a>Sine</a>
                                                li <a>Sawtooth</a>
                                                li <a>Square</a>
                                                li <a>Triangle</a>
                                                li <a>Mic</a>
                                .dropdown.col-xs-6.col-md-3.text-center
                                    .row
                                        .col-xs-12
                                            .label Reverb
                                        .col-xs-12
                                            #reverb.btn.btn-default.relabel(title="How much the sound bounces off the walls.", rel="tooltip", data-placement="top", data-toggle="dropdown") None
                                            ul.dropdown-menu(role="menu")
                                                li.active#noverb <a>None</a>
                                                li#quietverb <a>Quiet</a>
                                                li#loudverb <a>Loud</a>
                                .dropdown.col-xs-6.col-md-3.text-center
                                    .row
                                        .col-xs-12
                                            .label Attack
                                        .col-xs-12
                                            #attack.btn.btn-default.relabel(title="How quickly the sound gets loud at the beginning.", rel="tooltip", data-placement="top", data-toggle="dropdown") Fast
                                            ul.dropdown-menu(role="menu")
                                                li.active#fastattack <a>Fast</a>
                                                li#slowattack <a>Slow</a>
                                .dropdown.col-xs-6.col-md-3.text-center
                                    .row
                                        .col-xs-12
                                            .label Release
                                        .col-xs-12
                                            #release.btn.btn-default.relabel(title="How quickly the sound gets quiet at the end.", rel="tooltip", data-placement="top", data-toggle="dropdown") Fast
                                            ul.dropdown-menu(role="menu")
                                                li.active#fastrelease <a>Fast</a>
                                                li#slowrelease <a>Slow</a>
                .wads.col-xs-6

        include wadtemplate.html
        script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.3.2/jquery.mobile.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
        script(src="../javascripts/wad.js")
        //- script(src="../javascripts/waddemo.js")
        script(src="../javascripts/audiotest.js")