doctype 5
html
    head
        title Code Curious
        link(rel="shortcut icon", href="../media/images/favicon.ico")
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/home.css')
        link(rel='stylesheet', href='/stylesheets/myNavbar.css')
        link(rel='stylesheet', href='/stylesheets/article.css')

    body
        .container
            .row
                include myNavbar
            .row
                .blogheader.col-sm-12
                    span.blogdate.pull-right #{date.toDateString()}
                    h1.blogtitle= title
                    hr
            .row
                .blogbody.col-sm-12!= body
            hr
            .row
                .commentlink.col-sm-12 
                    span.pull-right Questions? Comments? <a href='/us/archives/#{url}'>Join the discussion.</a>

        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        //- script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
        //- script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js")
        script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
        script(src="/javascripts/home.js")