.myNavbar.col-md-12
    ul
        li <a data-ajax="false" href="/us">Blog</a>
        li <a data-ajax="false" href="/us/archives">Archives</a>
        li <a data-ajax="false" href="/us/projects">Projects</a>
    ul.pull-right
        li <a data-ajax="false" href="/us/about">About</a>