<script id="wadtemplate" type="text/template">
    <div class="wad">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="h1"><%= name %></span>
                <span class="pull-right glyphicon glyphicon-remove-circle bigicon"></span>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info playbutton">Play <span class="glyphicon glyphicon-play"></button>
                        <button type="button" class="btn btn-info dropdown-toggle relabel notename" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>B</a></li>
                            <li><a>A</a></li>
                            <li><a>G</a></li>
                            <li><a>F</a></li>
                            <li><a>E</a></li>
                            <li><a>D</a></li>
                            <li><a>C</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="btn btn-default">Stop <span class="glyphicon glyphicon-stop"></div>
                </div>
            </div>
        </div>
    </div>
</script>


