section {
    font-size:16px;
    line-height: 1.6;
}

aside {
    font-size:13px;
    /*font-family: serif;*/
}

code {
    background-color:black;
    color:rgb(10,200,10);
}

#disqus_thread {
    margin-top:100px;
}