.playbutton {

}

.wadmaker {
    background-color:gray;
    border-radius:4px;
    padding: 30px;
}

#wadname {
    
}

.wad {
    background-color: rgb(200,200,200);
    border-radius:4px;
    padding: 30px;
    margin-bottom: 10px;
}

.wads {
    padding:0px;
}

.bigicon {
    font-size: 24px;
}

.glyphicon-remove-circle:hover{
    color: gray;
}

.ui-loader {
    display:none;
}

@media screen and (max-width: 500px){
    .buttonlabel {
        display:none;
    }
}