.myNavbar {
    margin: 50px 0px;
    padding:0;
    background-color: rgba(222,222,222,1);
}
.myNavbar ul {
    display:inline-block;
    list-style-type: none;
    padding:0;
    margin:0;
}

.myNavbar li{
    display: inline-block;
    padding:15px 0px;
}

.myNavbar li a{
    text-decoration: none;
    padding:17px;
}

.myNavbar li a:hover {
    background-color:rgba(200,200,200,.9);
}

@media screen and (max-width: 991px) {
    .myNavbar {
        margin:0px 0px 50px 0px;
    }
}